
Other_dataset/Outpatient_Data_2016_XLSX.zip
Other_dataset/Medicare_Provider_Charge_Inpatient_DRGALL_FY2016.csv
Other_dataset/Medicare_OPPS_CY2016_Provider_APC.xlsx
Other_dataset/Medicare_OPPS_CY2016_Provider_APC.csv
Other_dataset/Medicare-Physician-and-Other-Supplier-PUF/Medicare_Provider_Util_Payment_PUF_CY2016.txt
Other_dataset/Medicare-Physician-and-Other-Supplier-PUF/Medicare-Physician-and-Other-Supplier-PUF-SAS-Infile.sas
Other_dataset/Medicare-Physician-and-Other-Supplier-PUF/CMS_AMA_CPT_license_agreement.pdf
Other_dataset/Medicare-Physician-and-Other-Supplier-PUF.zip
Other_dataset/Inpatient_Data_2016_CSV.zip
Other_dataset/BCHI-dataset_2019-03-04.csv
Other_dataset/BCHC_Data_Inventory-Percent of Adults Who Binge Drank_records.csv
.Rproj.user
